main{
    min-height: 80vh;
}

h3 {
    padding: 1rem 0;
}

.productCard {
    min-height: 32rem;
    max-height: 45rem;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productName {
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    color: #4B5243;
}


.rating span {
    margin-right: .1rem;
}

.btn-block {
    width: 100%;
}